services:
  backend:
    build: ./backend
    container_name: backend
    ports:
      - "80:80"
    networks:
      - buzy_network

  frontend:
    build: ./frontend
    container_name: frontend
    ports:
      - "5173:80"
    depends_on:
      - backend
    networks:
      - buzy_network

networks:
  buzy_network:
    driver: bridge
