body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background: linear-gradient(135deg, #557FB0 0%, #88A9D2 100%);
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-container {
    width: 360px;
    padding: 30px 25px;
    background: #ffffff;
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.15);
}

.title {
    text-align: center;
    margin-bottom: 25px;
    color: #333;
    font-weight: bold;
}

input[type="email"],
input[type="password"] {
    width: 90%;
    padding: 12px;
    margin: 8px 0 18px 0;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 14px;
}

.login-btn {
    width: 35%;
    padding: 12px;
    background-color: #557FB0;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;/* auto push btn into middle */
}

.login-btn:hover {
    background-color: #466A94;
}

.signup-section {
    text-align: center;
    margin-top: 25px;
}

.signup-btn {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    background-color: #eeeeee;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 14px;
}

.signup-btn:hover {
    background-color: #dddddd;
}


.error-message {
    color: red;
    text-align: center;
    margin-top: 15px;
    font-size: 14px;
}
