name: Spring Boot CI
on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
jobs:
  build:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: "backend/"
    steps:
      - uses: actions/checkout@v3
      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: "17"
          distribution: "temurin"
      - name: Check formatting with Spotless
        run: ./mvnw spotless:check
      - name: Lint with Checkstyle
        run: ./mvnw spotless:apply
      - name: Build with Maven
        run: ./mvnw clean install
      - name: Run tests
        run: ./mvnw test
